header {
  padding: 20px 40px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    height: 50px;
  }

  span {
    font-size: 20px;
    font-weight: 700;
  }
}

.rates {
  display: flex;
  gap: 20px;
}