<main>
    <div class="mainWrapper">
  
      <div class="pitch">
        <div>Trusted and secure</div>
        <div>currency exchange</div>
      </div>
  
      <div class="converter">
        <div class="convertFrom">
          <input 
            type="number"
            #leftInput
            [value]="leftToRight ? leftInput.value : result"
            (input)="
              leftToRight = true;
              convert(leftInput);
            ">
          |
          <select 
            #leftSelect
            (change)="
              changeLeftCurrency(leftSelect);
              convert(leftInput)">
            <option value="USD">USD</option>
            <option value="UAH">UAH</option>
            <option value="EUR">EUR</option>
          </select>
        </div>
  
        <div class="arrow">
          <img src="../assets/noun-arrows-257547.svg" alt="Arrow">
        </div>
  
        <div class="convertTo">
          <input
            type="number"
            #rightInput
            (input)="
            leftToRight = false;
            convert(rightInput)
            "
            [value]="leftToRight ? result : rightInput.value"
            >
          |
          <select 
            #rightSelect
            (change)="
              changeRightCurrency(rightSelect);
              convert(leftInput);
            ">
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
          </select>
        </div>
      </div>
  
    </div>
  </main>