<div class="converter">
    <div class="convertFrom">
      <input type="text">
      |
      <select>
        <option value="UAH">UAH</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>
    </div>
    <div class="arrow"><img src="../assets/noun-arrows-257547.svg" alt="Arrow"></div>
    <div class="convertTo">
      <input type="text">
      |
      <select>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="UAH">UAH</option>
      </select>
    </div>
  </div>