:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: white;
    box-sizing: border-box;
  }

header {
  padding: 20px 40px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    height: 50px;
  }

  span {
    font-size: 20px;
    font-weight: 700;
  }
}

.currentValue {
  display: flex;
  gap: 20px;
}